<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="Cinemango308PU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>JPA.Ad</class>
    <class>JPA.Photo</class>
    <class>JPA.Theatre</class>
    <class>JPA.Creditcard</class>
    <class>JPA.Moviereview</class>
    <class>JPA.Giftcard</class>
    <class>JPA.Showtime</class>
    <class>JPA.Ticket</class>
    <class>JPA.Favoritetheatres</class>
    <class>JPA.User</class>
    <class>JPA.Actor</class>
    <class>JPA.Movie</class>
    <class>JPA.Theatrerewards</class>
    <class>JPA.Payment</class>
    <class>JPA.Sequence</class>
    <class>JPA.Movieratings</class>
    <class>JPA.Comment</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://mysql2.cs.stonybrook.edu:3306/alouie?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="alouie"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="106096583"/>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
